@import url("reset");

:root {
  --os: #0000ff;
  --zr: #007fff;
  --rex: #ff7f00;
  --r: #ff0000;
  --ex: #009f00;
  --ec: #800080;
  --ic: #7f9fff;
  --sc: #ff009f;
  --en: #00007f;
  --rjx: #c1c105;
  --unknown: #7f7f7f;
}

.os {
  color: var(--os);
}

.bg-os {
  background-color: var(--os);
  color: #fff;
}

.zr {
  color: var(--zr);
}

.bg-zr {
  background-color: var(--zr);
  color: #fff;
}

.rex {
  color: var(--rex);
}

.bg-rex {
  background-color: var(--rex);
  color: #fff;
}

.r {
  color: var(--r);
}

.bg-r {
  background-color: var(--r);
  color: #fff;
}

.ex {
  color: var(--ex);
}

.bg-ex {
  background-color: var(--ex);
  color: #fff;
}

.ec {
  color: var(--ec);
}

.bg-ec {
  background-color: var(--ec);
  color: #fff;
}

.ic {
  color: var(--ic);
}

.bg-ic {
  background-color: var(--ic);
  color: #fff;
}

.sc {
  color: var(--sc);
}

.bg-sc {
  background-color: var(--sc);
  color: #fff;
}

.en {
  color: var(--en);
}

.bg-en {
  background-color: var(--en);
  color: #fff;
}

.rjx {
  color: var(--rjx);
}

.bg-rjx {
  background-color: var(--rjx);
  color: #000;
}

.unknown {
  color: var(--unknown);
}

.bg-unknown {
  background-color: var(--unknown);
  color: #fff;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

canvas {
  z-index: 0;
}

p {
  z-index: 1;
}

li {
  margin: 8pt;
}

.copyright {
  position: absolute;
  color: #8080ff;
  bottom: 8px;
  right: 16px;
}

.copyright a {
  color: #8080ff;
}

.controls {
  position: absolute;
  top: 8px;
  right: 16px;
  border: 2px solid #8080ff;
  padding: 8px;
  background-color: white;
  /* text-align: center; */
}

.particular-train {
  position: absolute;
  bottom: 8px;
  left: 16px;
  border: 2px solid #8080ff;
  padding: 8px;
  background-color: white;
  z-index: 3;
  /* text-align: center; */
}

#stop-list-div {
  /* height: 200pt; */
  max-height: 45vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#stop-list td {
  padding-left: 8px;
  padding-right: 8px;
}

#stop-list .time-td {
  border-right: 1px solid black;
  cursor: pointer;
}

.place-td {
  cursor: pointer;
}

#stop-list .pass-thru {
  color: gray;
}

.menu {
  z-index: 2;
  position: fixed;
  color: #8080ff;

  top: 8px;
  left: 16px;
  height: 10en;

  overflow: hidden;
  border: 2px solid #8080ff;
  padding: 8px;
  background-color: white;

  /*transform: rotate(-90deg);*/

  font-size: x-large;
  padding: 8px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.menu a {
  display: block;
  padding: 8px;
  margin: auto;
  text-decoration: none;
  text-align: center;
  color: blue;
}

.menu a:hover {
  color: #8080ff;
}

.textual {
  background-image: url(textures/slovensko_mercator_small.png);
  background-clip: border-box;
  background-size: cover;
  background-attachment: fixed;
}

.current {
  background-color: #009f00;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.sidebar {
  position: fixed;
  min-width: 19em;
  border-right: 2px solid #8080ff;
  height: 100vh;
  padding: auto;
  background-color: rgba(255, 255, 255, 0.4);

  display: flex;
}

.main-text {
  margin-left: 19em;
  padding: 32px;
  padding-left: 10em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-text:last-child {
  padding-bottom: 2em;
}

.main-text a {
  color: black;
}

#logo {
  margin: auto;
  display: block;
}

label {
  font-weight: bold;
}

label.train_category {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

label.train_category div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  aspect-ratio: 1 / 1;
}

input[type="checkbox"]:not(:checked) + label.train_category div:nth-child(1) {
  visibility: hidden;
}

form.categories {
  width: 100%;
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, 1fr);
}

section.controls {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.datetime {
  display: flex;
  align-items: center;
}

.datetime div:nth-child(2) {
  margin-left: auto;
  cursor: pointer;
}

.places-whole {
  display: flex;
  align-items: center;
}

.places-whole div:nth-child(2) {
  margin-left: auto;
  padding-left: 10px;
  cursor: pointer;
}

.places {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.useful-link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}